header {
    background-color: #541554;
    color: white;
    text-align: center;
    
    nav {
        padding-top: 10px;
        @include flexWrap(row, space-between, center, center, 150px);
        position: fixed;
        background-color: #541554;


        .nav__logo {
            height: 50px;
        }
    
        .nav__menu__icon {
            height: 30px;
        }
    }

    p {
        font-size: 38px;
        font-weight: bold;
        padding-top: 80px;
        
        span {
            color: #ecb22e;
        }
    }
    

    h4 {
        font-weight: lighter;
        margin-bottom: 50px;
    }

    div.header__buttons {
        @include flexWrap(row, center, none, center, 10px);

        .header__buttons__correo {
            @include buttonBig(none, white);
        }

        .header__buttons__google {
            @include buttonBig(white, #4285f4);
          
            &::before {
                content:" ";
                background-image: url(../assets/google.png);
                width: 40px;
                height: 40px;
                display: inline-block;
                background-size: cover;
            }
        }
    }

    .header__video {
        width: 100%;
    }
}







