.main02 {
    background-color: white;
    padding-top: 40px;

    .main02__buttons {
        @include flexWrap(row, none, none, center, 10px);

        .main02__buttons__conoce {
            @include buttonBig (white, #541554);
        }

        .main02__buttons__hablar {
            @include buttonBig (#541554, white);
        }
    }
    .main02__numeros {

        text-align: center;
        @include flexWrap(column, center, center, none, 30px);

        .main02__numero {
            font-size: 40px;
            color: #541554;
        }

        .main02__texto {
            font-size: 12px;
        }
    }

    .main02__video {
        width: 95%;
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
    }

    .main02__texto__comentario {
        font-size: 25px;
    }

    .main02__texto__promedio {
        font-size: 10px;
    }
}