.main01 {
    background-color: #f4ede4;
    padding-top: 40px;
    padding-bottom: 40px;

    .main01__empresas {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;

        .main01__empresas__logos {
            @include flexWrap(row, none, center, none, 30px);
            padding-top: 30px;

            img {
                max-height: 30px;
            }
        }
    }
    
    .img_derecha {
        @include flexWrap(row, none, end, none, 0px)
    }
}